* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  /* font-family: Verdana, Geneva, sans-serif; */
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-size: 18px;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
}

p,
ul {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 30px 30px auto;
  float: right;
}

.header {
  background-color: #ff6347;
  color: white;
  padding: 10px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 48px;
}

.content {
  padding: 50px;
}

.content h1 {
  color: #ff6347;
  margin-bottom: 30px;
}

.content h2 {
  color: #ff6347;
  margin-top: 30px;
  margin-bottom: 15px;
}

.navbar {
  background-color: #333;
  padding: 10px;
  text-align: center;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
.navbar a:hover {
  text-decoration: underline;
}
